<% if user_signed_in? %>
<h1>You're Logged In</h2>
	<% else %>

<div class="hero-unit">
	<h1>Welcome to One Month Rails!</h1>
	<p>
		You've found the home page for the 
	<%= link_to "Sam Diener", "http://www.samdiener.com" %>
		Man 
	</p>

	<p> 
		<%= link_to"Sign Up Now!", new_user_registration_path, class:"btn btn-primary btn-medium" %>
	</p>

</div>

<% end %>
